
.gridContainer{
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
	grid-template-rows: 90px auto 20px;
	grid-row-gap: 10px;
}

.top{	
	font-size: 16pt;
	color: darkblue;
	border-bottom: 2px solid darkblue;
	margin:0px 10px 0px 10px;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

.left{
	grid-column-start: 1;
	grid-column-end: 2;
}

.right{
	grid-column-start: 3;
	grid-column-end: 4;
}

.left,
.right,
.main{
	grid-row-start: 2;
	grid-row-end: 3;
}

.main
{
	font-size: 12pt;
	margin: 0px 40px 0px 40px;
	grid-column-start: 2;
	grid-column-end: 3;
}

.bottom{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}

.help{
	font-size: 80%;
	color: orange;
}